[Unit]
Description=Autopi start request service
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/home/pi/autopi/src/scripts/CSM_generate_request.py start

[Install]
WantedBy=multi-user.target
