[Unit]
Description=Autopi periodic status updates
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/CSM_generate_request keepalive
