[Unit]
Description=Autopi periodic request timer
After=network-online.target

[Timer]
OnBootSec=30s
OnUnitActiveSec=1m
AccuracySec=1s
Unit=autopi_periodic.service

[Install]
WantedBy=multi-user.target
