[Unit]
Description=Autopi status change request generation service
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/autopi/scripts/generate_request.py %I
