[Unit]
Description=Autopi periodic status updates
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/autopi/generate_request.py keepalive
