[Unit]
Description=Autopi start request service
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/CSM_generate_request start

[Install]
WantedBy=multi-user.target
