/* PAGE STYLINGS */
body {
    font-family: sans-serif;
}

.content-wrapper {
    width: 1080px;
    margin: auto;
    clear: both;
}

.topnav {
    width: 100%;
	/* float: left; */
	margin: 0 0 1em 0;
	padding: 0;
	/* background-color: #fff; */
	/* border-bottom: 1px solid #ccc; */
}

.topnav ul {
    list-style: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: -3em;
	width: 600px;
}

.topnav li {
    float: left;
}

.topnav li h2 {
    display: block;
	padding: 4px 55px;
	text-decoration: none;
	color: #444;
	border-right: 1px solid #ccc;
}

.topnav li:first-child h2 {
    border-left: 1px solid #ccc;
}

.topnav li h2:hover {
    color: rgb(67, 95, 185);
}

a:link { 
    text-decoration: none; 
}

a:visited {
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none; 
}

/* TABLE STYLINGS */
table {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
}

tr {
    text-align: left;
}

th, td {
    padding: 12px 15px;
    white-space: nowrap;
}

tr {
    border-bottom: 1px solid black;
}

.table_header {
    background-color: #ddd;
}

.table_good {
    background-color: greenyellow;
}

.table_bad {
    background-color: #ff938b;
}

.table_warning {
    background-color: rgb(255, 189, 65);
}

.table_dead {
    background-color: rgb(255, 255, 179);
    color: #999;
}


.table_vnc, .table_ssh, .table_power {
    text-align: center;
}
